body{
	margin: 0;
}

/*header styles*/

header{
	background-color: white;
	padding: 48px 28px 12px;
}

header img{
	width: 120px;
}

header h1{
	color: #424949;
	font-family: avenir, helvetica, karla, arial, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	letter-spacing: 1px;
}

/*main styles*/

main{
	background-color: #F3F1E9;
	padding: 120px 0 98px;
}

main h1{
	color: #4F602F;
	font-family: avenir, helvetica, karla, arial, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	letter-spacing: 2px;
	text-align: center;
	line-height: 20px;
	padding: 56px 0;
}

main h2{
	color: black;
	font-family: cormorant infant, times new roman;
	font-size: 28pt;
}

main h3{
	color: black;
	font-family: avenir, helvetica, karla, arial, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	text-transform: uppercase;
	line-height: 20px;
}

main p{
	color: black;
	font-family: avenir, helvetica, karla, arial, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	line-height: 20px;
}

a{
	color: black;
	text-decoration: none;
}

a .cell:hover{
	border: 1px solid black;
	border-style: solid;
	outline-width: thin;
}

a:hover{
text-decoration: none;
	font-weight: bold;
}


/*container styles*/

.container-hero{
	max-width: 70%
	margin: 0;
	padding-bottom: 200px;
	text-align: center;
}

.container{
	margin: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding-bottom: 200px;
}

.cell{
	color: black;
	text-align: left;
	padding: 4rem;
}

.cell-image {
	max-width: 50%;
	vertical-align: bottom;
	padding: 100px 150px 50px 50px ;
}

.container-travel{
	margin: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	padding-bottom: 200px;
}

.cell-travel{
	color: black;
	text-align: left;
	padding: 4rem;
}




/*footer styles*/

footer{
	padding: 0
	background-color: white;
}

footer p{
	padding: 56px 18px 4px;
	text-align: right;
	color: black;
	font-family: avenir, helvetica, karla, arial, sans-serif;
	font-weight: lighter;
	font-size: 7pt;
}